
.mb-\[28px\] {
    margin-bottom: 28px !important;
}

.mb-\[20px\] {
    margin-bottom: 20px !important;
}
.typo-b5 {
    font-family: Anuphan, ui-serif;
    font-size: 14px;
    line-height: 1.5;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.pb-\[90px\] {
    padding-bottom: 90px !important;
}
.p-\[20px\] {
    padding: 20px !important;
}
.px-\[20px\] {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.mt-12 {
    margin-top: 3rem !important;
}
    
@media (min-width: 768px) {
    .typo-h6 {
        font-size: 24px;
    }
}
    
.hidden {
    display: none !important;
}
    
.typo-h1 {
    font-family: Kanit, ui-sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.25;
}
    
.max-w-\[280px\] {
    max-width: 280px !important;
}
.mb-\[70px\] {
    margin-bottom: 70px !important;
}
.mt-\[10px\] {
    margin-top: 10px !important;
}
.typo-u3 {
    font-family: Anuphan, ui-serif;
    font-size: 16px;
    line-height: 1.25;
}
    
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
.w-full {
    width: 100% !important;
}
.grid {
    display: grid !important;
}
.z-20 {
    z-index: 20 !important;
}
.top-0 {
    top: 0 !important;
}
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}
    
.text-white {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255) !important;
}
.text-center {
    text-align: center !important;
}
.px-\[10px\] {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}
.bg-black, .bg-white {
    --tw-bg-opacity: 1 !important;
}
.bg-black {
    background-color: rgb(0 0 0) !important;
}
    
.w-\[16px\] {
    width: 16px !important;
}
.h-\[17px\] {
    height: 17px !important;
}
    
@media (min-width: 768px) {
    .md\:ml-\[20px\] {
        margin-left: 20px !important;
    }
}
.ml-\[10px\] {
    margin-left: 10px !important;
}
@media (min-width: 768px) {
    .typo-h8 {
        font-size: 18px;
    }
}
.typo-h8 {
    font-family: Kanit, ui-sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.25;
}
    
.bg-white {
    background-color: rgb(255 255 255) !important;
}
.bg-black, .bg-white {
    --tw-bg-opacity: 1 !important;
}
    
@media (min-width: 768px) {
    .md\:grid-cols-\[repeat\(3\2c auto\)\] {
        grid-template-columns: repeat(3, auto) !important;
    }
}
.gap-\[10px\] {
    gap: 10px !important;
}
.grid {
    display: grid !important
;
}
.mt-\[46px\] {
    margin-top: 46px !important;
}
.m-auto {
    margin: auto !important;
}
    
@media (min-width: 768px) {
    .md\:w-\[30vw\] {
        width: 30vw !important;
    }
}
.max-w-\[500px\] {
    max-width: 500px !important;
}
.m-auto {
    margin: auto !important;
}
    
@media (min-width: 768px) {
    .md\:h-\[30vw\] {
        height: 30vw !important;
    }
}
.max-w-\[500px\] {
    max-width: 500px !important;
}
.max-h-\[500px\] {
    max-height: 500px !important;
}
.relative {
    position: relative !important;
}
    
@media (min-width: 768px) {
    .md\:w-\[30vw\] {
        width: 30vw !important;
    }
}
@media (min-width: 768px) {
    .md\:h-\[30vw\] {
        height: 30vw !important;
    }
}
.border-white {
    --tw-border-opacity: 1 !important;
    border-color: rgb(255 255 255/ 1!important) !important;
}
.max-w-\[500px\] {
    max-width: 500px !important;
}
.max-h-\[500px\] {
    max-height: 500px !important;
}
    
@media (min-width: 768px) {
    .md\:mt-\[12px\] {
        margin-top: 12px !important;
    }
}

.mr-\[10px\] {
    margin-right: 10px !important;
}
@media (min-width: 768px) {
    .typo-h2 {
        font-size: 48px;
    }
}
.typo-h2 {
    font-family: Kanit, ui-sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
}
.justify-center {
    justify-content: center !important;
}
.flex-col {
    flex-direction: column !important;
}
    
@media (min-width: 768px) {
    .typo-h8 {
        font-size: 18px;
    }
}
.typo-h8 {
    font-family: Kanit, ui-sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.25;
}
    
.text-\[\#ffffff80\] {
    color: #ffffff80 !important;
}
@media (min-width: 768px) {
    .typo-b5 {
        font-size: 16px;
    }
}
.typo-b5 {
    font-family: Anuphan, ui-serif;
    font-size: 14px;
    line-height: 1.5;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.mt-\[46px\] {
    margin-top: 46px !important;
}
.m-auto {
    margin: auto !important;
}
.pt-\[20px\] {
    padding-top: 20px !important;
}
.pb-\[126px\] {
    padding-bottom: 126px !important;
}


.font-\[600\] {
    font-weight: 600 !important;
}
.py-\[16px\] {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.px-\[20px\] {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.border-\[\#dadada\] {
    --tw-border-opacity: 1 !important;
    border-color: rgb(218 218 218) !important;
}
.border {
    border-width: 1px !important;
}
.max-w-\[280px\] {
    max-width: 280px !important;
}
.w-full {
    width: 100% !important;
}
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.typo-b5 {
    font-family: Anuphan, ui-serif;
    font-size: 14px;
    line-height: 1.5;
}
button, [role=button] {
    cursor: pointer;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

        .input-container {
            display: flex;
            align-items: center;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

        .input-container label {
          font-family: Anuphan, ui-serif;
          font-size: 14px;
          line-height: 1.5;
        }

        .dropdown {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ccc;
          	margin-left: 5px;
    		padding: 10px !important;
            border-radius: 2px;
            width: 200px;
            cursor: pointer;
            background-color: #fff;
            position: relative;
        }

        .dropdown-text {
            pointer-events: none;
    		font-size: 15pt !important;
    		font-weight: 600 !important;
            color: #333;
            font-family: Anuphan !important;
        }

        .dropdown-arrow {
            font-size: 12px;
        }

        .dropdown-options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            border: 1px solid rgb(157 157 157);
            background-color: #fff;
            border-radius: 2px;
            left: -25px !important; 
            z-index: 10 !important; 
            padding: 5px 15px !important; 
            margin-top: 5px !important;
            width: 250px !important; 
    		max-height: 300px !important;
    		overflow-y: scroll !important;
            font-size: 12pt !important;
            font-weight: 600 !important;

        }

        .dropdown-options .dropdown-option {
          border-width: 1px !important; /* ความกว้างของเส้นขอบ */
          border-radius: 2px !important; /* มุมโค้งของเส้นขอบ */
          position: relative; 
          box-sizing: border-box; 
          background: #fff;    
          border-bottom: solid rgb(218 218 218) 1px !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }

        .dropdown-options .dropdown-option:hover {
            
        }

        .dropdown-value {
            margin-left: 5px;
            margin-left: 10px;
            font-size: 16px;
            color: #000;
        }
