* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Anuphan, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
}

.logo img {
  height: 2rem; /* ขนาดปกติ */
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .logo img {
    height: 1.5rem; /* ขนาดเมื่อหน้าจอเล็ก */
  }

  .menu {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
  }

  .menu.show {
        display: block;
        width: 100%;
        top: 47.2px;
        right: 0;
        padding: .5rem;
        z-index: 50;
  }

  .menu li {
    margin: 10px 0;
    text-align: right;
  }












.bg-center {
    background-position: center;
}
.bg-cover {
    background-size: cover;
}
.items-center {
    align-items: center;
}  
@media (min-width: 768px) {
    .md\:py-32 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
}
.ui-font-bold {
    font-weight: 700;
}
  .menu-icon {
    display: block;
  }
}

.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

@media (min-width: 768px) {
    .md\:py-32 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
}
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.max-w-screen-xl {
    max-width: 1280px;
}
.w-full {
    width: 100%;
}

.flex-1 {
    flex: 1 1 0%;
}

.justify-center {
    justify-content: center;
}
.flex-row {
    flex-direction: row;
}
a {
    color: inherit;
    text-decoration: inherit;
}

@media (min-width: 768px) {
    .md\:h-8 {
        height: 2rem;
    }
}
.h-6 {
    height: 1.5rem;
}

.space-y-8>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem* var(--tw-space-y-reverse));
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.space-y-8>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem* var(--tw-space-y-reverse));
}
@media (min-width: 768px) {
    .typo-b4 {
        font-size: 18px;
    }
}
.typo-b4 {
    font-family: Anuphan, ui-serif;
    font-size: 16px;
    line-height: 1.5;
}


.space-y-8>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem* var(--tw-space-y-reverse));
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.p-4 {
    padding: 1rem;
}

@media (min-width: 768px) {
    .typo-h6 {
        font-size: 24px;
    }
}
.typo-h6 {
    font-family: Kanit, ui-sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
}

.pr-4 {
    padding-right: 1rem;
}

.space-x-1>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.25rem* var(--tw-space-x-reverse));
    margin-left: calc(.25rem* calc(1 - var(--tw-space-x-reverse)));
}

@media (min-width: 768px) {
    .md\:space-x-16>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(4rem* var(--tw-space-x-reverse));
        margin-left: calc(4rem* calc(1 - var(--tw-space-x-reverse)));
    }
}
@media (min-width: 768px) {
    .md\:space-y-0>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px* calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px* var(--tw-space-y-reverse));
    }
}
.space-y-8>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem* var(--tw-space-y-reverse));
}

@media (min-width: 768px) {
    .md\:hidden {
        display: none;
    }
}

.to-black {
    --tw-gradient-to: black;
}
.from-transparent {
    --tw-gradient-from: transparent;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(0 0 0 / 0));
}
.bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.h-12 {
    height: 3rem;
}
.-mt-12 {
    margin-top: -3rem;
}
